*.bkp
~$**
.vscode/settings.json
Ref/**
.pytest_cache/
__pycache__/

# esp-idf built binaries
build/
build_*_*/

dependencies.lock
managed_components/
*.old
sdkconfig

# Wi-Fi credentials
**/wifi_credentials.h
